source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FsUnit
nuget FunScript
nuget FunScript.TypeScript.Binding.three
nuget FAKE
nuget nunit
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx