source https://nuget.org/api/v2

nuget FsCheck.Xunit
nuget FSharp.Core
nuget FSharp.Formatting
nuget FsUnit.xUnit
nuget FunScript
nuget FunScript.TypeScript.Binding.three
nuget FAKE
nuget SourceLink.Fake
nuget fscheck
nuget xunit

github fsharp/FAKE modules/Octokit/Octokit.fsx