source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FsCheck.NUnit
nuget FunScript
nuget FunScript.TypeScript.Binding.three
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget NUnitTestAdapter
nuget SourceLink.Fake
nuget fscheck
nuget fsunit

github fsharp/FAKE modules/Octokit/Octokit.fsx