type project
owners
    progletariat
authors 
    progletariat
projectUrl
    http://github.com/codehutch/pg3d
iconUrl
    https://raw.githubusercontent.com/codehutch/pg3d/master/docs/files/img/logo.png
licenseUrl
    http://github.com/codehutch/pg3d/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    3d graphics for progletariat blog
description
    ┬3d graphics, using three.js, for progletariat blog[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[C[D[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[D[D[D[D


